body {
  margin: 0;
  font-family: sans-serif;
  background-color: #000;
  color: white;
}

#app {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #f542c2;
}

.video-card {
  margin-bottom: 30px;
  background: #111;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(255, 0, 150, 0.2);
  padding: 10px;
}

video {
  width: 100%;
  border-radius: 10px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

button {
  background-color: #f542c2;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ff77dd;
}

input[type="text"] {
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 100%;
  }
